[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BoundEdgeworth"]
	path = BoundEdgeworth
	url = https://github.com/alexisderumigny/boundedgeworth
[submodule "CondCopulas"]
	path = CondCopulas
	url = https://github.com/alexisderumigny/condcopulas
[submodule "ElliptCopulas"]
	path = ElliptCopulas
	url = https://github.com/alexisderumigny/elliptcopulas
[submodule "MMDCopula"]
	path = MMDCopula
	url = https://github.com/alexisderumigny/mmdcopula
[submodule "PCBN"]
	path = PCBN
	url = https://github.com/alexisderumigny/pcbn
