[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BoundEdgeworth"]
	path = BoundEdgeworth
	url = https://github.com/alexisderumigny/boundedgeworth
	shallow = true
	registered = true
[submodule "CondCopulas"]
	path = CondCopulas
	url = https://github.com/alexisderumigny/condcopulas
	shallow = true
	registered = true
[submodule "ElliptCopulas"]
	path = ElliptCopulas
	url = https://github.com/alexisderumigny/elliptcopulas
	shallow = true
	registered = true
